/* Reset de css de los navegadores para evitar futuros problemas con los padding y margin */

*{
    padding: 0;
    margin:0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}  

nav {
    background-color: white;
    padding: 20px 24px;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    background-color: whitesmoke;
    color: black;
    border-radius: 16px;

}

body { 
    height: 100%;
}


p, h1 {
    color: white;
    font-size: 16px;
}

/* Pestañas para comprar */
.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    
}

.tabs--pestania {
    padding: 10px 16px;
    cursor: pointer;
}

.tabs--elegido {
    display: none;
}

.tabs--content {
    order: 1;
    width: 100%;
    font-size: 1em;
    display: none;
    
}

.tabs--elegido:checked + .tabs--pestania {
    font-weight: bold;
    color: #009578;
    border: 2px solid #009578;
    border-radius: 16px;
}

.tabs--elegido:checked + .tabs--pestania + .tabs--content {
    display: initial;
} 


#buscar-form {
    display: flex;
}

#buscar-input {
    padding: 10px;
    border: none;
    border-radius: 21px 0px 0px 21px;
}

#searchbuscarinput:focus {
    outline: none;
}

#buscar-form button {
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 0px 21px 21px 0px;
    cursor: pointer;
}

#buscar-form button:hover {
    background-color: #23527c;
}


/* Cards Diseña */
.tabs--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 21px;
    padding: 10px;
    text-align: center;
    background: white;
    margin: 10px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom:10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 21px;
}

.card-info {
    margin-top: 10px;
}

.compr-button {
    padding: 8px 16px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.compr-button:hover {
    background-color: #23527c;
}
